In [7]:
!pip install pandas
!pip install plotly
!pip install chart-studio
!pip install statsmodels

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (4.7.1)
Requirement already satisfied: retrying>=1.3.3 in c:\programdata\anaconda3\lib\site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from plotly) (1.12.0)
Requirement already satisfied: chart-studio in c:\programdata\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from chart-studio) (2.22.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from chart-studio) (1.12.0)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (from chart-studio) (4.7.1)
Requirement already satisfied: retrying>=1.3.3 in c:\programdata\anaconda3\lib\site-packages (from chart-studio) (1.3.3)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->chart-studio) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->chart-studio) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->chart-studio) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->chart-studio) (3.0.4)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.11 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (1.16.5)
Requirement already satisfied: scipy>=0.18 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (1.3.1)
Requirement already satisfied: pandas>=0.19 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (0.25.1)
Requirement already satisfied: patsy>=0.4.0 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19->statsmodels) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19->statsmodels) (2.8.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy>=0.4.0->statsmodels) (1.12.0)

In [6]:
import pandas as pd
import datetime as dt
import numpy as np
import math
import glob
import datetime
from pandas import datetime
from matplotlib import pyplot
import itertools
from scipy import integrate
import warnings

# if using a Jupyter notebook, inlcude:
%matplotlib inline

In [3]:
# Import used libraries
# Initialitation of variables
path ='./data/unprocessed/CSO_*__*_*_*.csv' # Data path schema
allFiles = glob.glob(path) # Get all files
IndexSlice = pd.IndexSlice

# Columns names per file type
columnNamesPBC=['Timestamp', 'Pump', 'State', 'Starts count', 'Total Hours', 'Last Maintenance Hours', 'Last reset Hours']

# Columns types file type
typesDictPBC = {'Pump': 'O', 'State': 'float64', 'Starts count': 'float64', 'Total Hours': 'float64', 'Last Maintenance Hours': 'float64', 'Last reset Hours': 'float64'}

# Buffer variables
bufferPBC = []

# List of stations and pumps
stationList = []
pumpList = ['04501', '04502', '04503', '04504', '04505', '04601', '04602', '04603', '04604', '04701', '04702', '04703', '04801', '04802']

# Auxiliary functions for data transform
pumpStateMapBeautify = {
    1: 'run', 
    2: 'stop', 
    3: 'run', 
    4: 'stop', 
    5: 'run', 
    6: 'stop', 
    7: 'unavailable', 
    99: 'failure', 
    -1: 'maintenance'
}
pumpStartValue = {
    'run': 1.0,
    'stop': 0.0,
    'unavailable': 0.0,
    'failure': 0.0,
    'maintenance': 0.0
}
pumpStart = {
    -1: 'start',
    1: 'stop',
    0: 'no change'
}
                

# Procesa todos los ficheros
for filename in allFiles:
    # Split the file name to extract the pump and station
    nameParts = filename.split('_')
    station = nameParts[1]
    pump = nameParts[4]

    # Add pump and stations to list
    if station not in stationList:
        stationList.append(station)
    
    # PBC files: files with station flow
    if nameParts[3]=='PBC':
        data = pd.read_csv(filename, sep=';', parse_dates=['Timestamp'], names=columnNamesPBC, header=0, na_values=['', ' ', 0], dtype=typesDictPBC);
        data['Station'] = station
        data['Pump'] = pump
        data['STS'] = data['State']
        data['State'] = data['State'].map(pumpStateMapBeautify)
        data['State value'] = data['State'].map(pumpStartValue)
        data['Start'] = 0
        bufferPBC.append(data)

In [4]:
bufferPBC

[                Timestamp   Pump        State  Starts count  Total Hours  \
 0     2016-01-01 00:14:51  04501         stop           NaN          NaN
 1     2016-01-01 02:09:21  04501      failure           NaN          NaN
 2     2016-01-01 02:10:51  04501         stop           NaN          NaN
 3     2016-01-01 02:19:41  04501          run           NaN          NaN
 4     2016-01-01 02:20:32  04501          NaN        4563.0          NaN
 ...                   ...    ...          ...           ...          ...
 11593 2016-01-31 18:05:22  04501          NaN           NaN          NaN
 11594 2016-01-31 18:06:42  04501  unavailable           NaN          NaN
 11595 2016-01-31 18:26:42  04501         stop           NaN          NaN
 11596 2016-01-31 20:37:22  04501  unavailable           NaN          NaN
 11597 2016-01-31 21:54:42  04501         stop           NaN          NaN

        Last Maintenance Hours  Last reset Hours Station   STS  State value  \
 0                         NaN               NaN  45CLMN   2.0          0.0
 1                         NaN               NaN  45CLMN  99.0          0.0
 2                         NaN               NaN  45CLMN   2.0          0.0
 3                 1153.860107               NaN  45CLMN   1.0          1.0
 4                         NaN               NaN  45CLMN   NaN          NaN
 ...                       ...               ...     ...   ...          ...
 11593             1431.730225               NaN  45CLMN   NaN          NaN
 11594                     NaN               NaN  45CLMN   7.0          0.0
 11595                     NaN               NaN  45CLMN   2.0          0.0
 11596                     NaN               NaN  45CLMN   7.0          0.0
 11597                     NaN               NaN  45CLMN   2.0          0.0

        Start
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 11593      0
 11594      0
 11595      0
 11596      0
 11597      0

 [11598 rows x 11 columns],
                Timestamp   Pump State  Starts count  Total Hours  \
 0    2016-10-30 02:00:16  04501  stop           NaN          NaN
 1    2016-10-03 10:28:17  04501   NaN           NaN          NaN
 2    2016-10-03 10:29:47  04501  stop           NaN          NaN
 3    2016-10-03 10:30:47  04501  stop           NaN          NaN
 4    2016-10-06 05:02:50  04501   NaN           NaN          NaN
 ...                  ...    ...   ...           ...          ...
 1497 2016-10-31 04:57:31  04501  stop           NaN          NaN
 1498 2016-10-31 08:17:40  04501  stop           NaN          NaN
 1499 2016-10-31 08:18:50  04501  stop           NaN          NaN
 1500 2016-10-31 18:06:53  04501  stop           NaN          NaN
 1501 2016-10-31 18:08:03  04501  stop           NaN          NaN

       Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                2829.263184            8560.0  45CLMN  6.0          0.0
 1                2722.933105               NaN  45CLMN  NaN          NaN
 2                        NaN            8469.0  45CLMN  6.0          0.0
 3                2722.933105            8469.0  45CLMN  6.0          0.0
 4                2722.933105               NaN  45CLMN  NaN          NaN
 ...                      ...               ...     ...  ...          ...
 1497             2829.263184            8560.0  45CLMN  6.0          0.0
 1498                     NaN            8560.0  45CLMN  6.0          0.0
 1499                     NaN            8560.0  45CLMN  6.0          0.0
 1500                     NaN            8560.0  45CLMN  6.0          0.0
 1501                     NaN            8560.0  45CLMN  6.0          0.0

       Start
 0         0
 1         0
 2         0
 3         0
 4         0
 ...     ...
 1497      0
 1498      0
 1499      0
 1500      0
 1501      0

 [1502 rows x 11 columns],
               Timestamp   Pump State  Starts count  Total Hours  \
 0   2016-11-01 22:57:37  04501  stop           NaN          NaN
 1   2016-11-01 22:58:57  04501  stop           NaN          NaN
 2   2016-11-02 22:32:12  04501  stop           NaN          NaN
 3   2016-11-02 22:33:22  04501  stop           NaN          NaN
 4   2016-11-03 00:05:33  04501   NaN           NaN          NaN
 ..                  ...    ...   ...           ...          ...
 453 2016-11-30 06:17:29  04501  stop           NaN          NaN
 454 2016-11-30 07:04:19  04501  stop           NaN          NaN
 455 2016-11-30 07:05:29  04501  stop           NaN          NaN
 456 2016-11-30 21:42:53  04501   NaN           NaN          NaN
 457 2016-11-30 21:44:04  04501   NaN           NaN          NaN

      Last Maintenance Hours  Last reset Hours Station  STS  State value  Start
 0               2829.263184            8560.0  45CLMN  6.0          0.0      0
 1               2829.263184            8560.0  45CLMN  6.0          0.0      0
 2                       NaN            8560.0  45CLMN  6.0          0.0      0
 3                       NaN            8560.0  45CLMN  6.0          0.0      0
 4               2829.263184               NaN  45CLMN  NaN          NaN      0
 ..                      ...               ...     ...  ...          ...    ...
 453             2829.263184            8560.0  45CLMN  6.0          0.0      0
 454             2829.263184            8560.0  45CLMN  6.0          0.0      0
 455             2829.263184            8560.0  45CLMN  6.0          0.0      0
 456             2829.263184               NaN  45CLMN  NaN          NaN      0
 457             2829.263184               NaN  45CLMN  NaN          NaN      0

 [458 rows x 11 columns],
                Timestamp   Pump State  Starts count  Total Hours  \
 0    2016-12-02 18:44:09  04501  stop           NaN          NaN
 1    2016-12-02 18:49:29  04501   run           NaN          NaN
 2    2016-12-02 18:49:58  04501   NaN        5689.0          NaN
 3    2016-12-02 18:54:19  04501   run           NaN          NaN
 4    2016-12-02 18:54:28  04501   NaN        5690.0          NaN
 ...                  ...    ...   ...           ...          ...
 5101 2016-12-31 23:20:10  04501   NaN           NaN          NaN
 5102 2016-12-31 23:37:40  04501  stop           NaN          NaN
 5103 2016-12-31 23:38:50  04501  stop           NaN          NaN
 5104 2016-12-31 23:44:20  04501  stop           NaN          NaN
 5105 2016-12-31 23:45:30  04501  stop           NaN          NaN

       Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                        NaN               NaN  45CLMN  2.0          0.0
 1                        NaN               NaN  45CLMN  1.0          1.0
 2                        NaN               NaN  45CLMN  NaN          NaN
 3                        NaN               NaN  45CLMN  3.0          1.0
 4                        NaN               NaN  45CLMN  NaN          NaN
 ...                      ...               ...     ...  ...          ...
 5101             3170.574707               NaN  45CLMN  NaN          NaN
 5102             3170.574707            8868.0  45CLMN  4.0          0.0
 5103             3170.574707            8868.0  45CLMN  4.0          0.0
 5104             3170.574707            8868.0  45CLMN  4.0          0.0
 5105             3170.574707            8868.0  45CLMN  4.0          0.0

       Start
 0         0
 1         0
 2         0
 3         0
 4         0
 ...     ...
 5101      0
 5102      0
 5103      0
 5104      0
 5105      0

 [5106 rows x 11 columns],
                Timestamp   Pump        State  Starts count  Total Hours  \
 0    2016-02-01 00:08:12  04501  unavailable           NaN          NaN
 1    2016-02-01 02:10:42  04501         stop           NaN          NaN
 2    2016-02-01 02:56:12  04501  unavailable           NaN          NaN
 3    2016-02-01 02:58:42  04501         stop           NaN          NaN
 4    2016-02-01 03:21:22  04501  unavailable           NaN          NaN
 ...                  ...    ...          ...           ...          ...
 9496 2016-02-29 21:18:46  04501  unavailable           NaN          NaN
 9497 2016-02-29 21:58:46  04501         stop           NaN          NaN
 9498 2016-02-29 22:41:26  04501  unavailable           NaN          NaN
 9499 2016-02-29 23:00:06  04501         stop           NaN          NaN
 9500 2016-02-29 23:50:46  04501  unavailable           NaN          NaN

       Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                        NaN               NaN  45CLMN  7.0          0.0
 1                        NaN               NaN  45CLMN  2.0          0.0
 2                        NaN               NaN  45CLMN  7.0          0.0
 3                        NaN               NaN  45CLMN  2.0          0.0
 4                        NaN               NaN  45CLMN  7.0          0.0
 ...                      ...               ...     ...  ...          ...
 9496                     NaN               NaN  45CLMN  7.0          0.0
 9497                     NaN               NaN  45CLMN  2.0          0.0
 9498                     NaN               NaN  45CLMN  7.0          0.0
 9499                     NaN               NaN  45CLMN  2.0          0.0
 9500                     NaN               NaN  45CLMN  7.0          0.0

       Start
 0         0
 1         0
 2         0
 3         0
 4         0
 ...     ...
 9496      0
 9497      0
 9498      0
 9499      0
 9500      0

 [9501 rows x 11 columns],
                Timestamp   Pump        State  Starts count  Total Hours  \
 0    2016-03-01 01:52:06  04501         stop           NaN          NaN
 1    2016-03-01 02:22:56  04501  unavailable           NaN          NaN
 2    2016-03-01 02:28:16  04501         stop           NaN          NaN
 3    2016-03-01 04:02:46  04501          run           NaN          NaN
 4    2016-03-01 04:03:37  04501          NaN        4779.0          NaN
 ...                  ...    ...          ...           ...          ...
 9395 2016-03-31 23:53:24  04501          NaN           NaN          NaN
 9396 2016-03-31 23:54:44  04501          NaN           NaN          NaN
 9397 2016-03-31 23:56:04  04501          NaN           NaN         0.56
 9398 2016-03-31 23:57:34  04501          NaN           NaN          NaN
 9399 2016-03-31 23:58:44  04501          NaN           NaN          NaN

       Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                        NaN               NaN  45CLMN  2.0          0.0
 1                        NaN               NaN  45CLMN  7.0          0.0
 2                        NaN               NaN  45CLMN  2.0          0.0
 3                1251.769775               NaN  45CLMN  1.0          1.0
 4                        NaN               NaN  45CLMN  NaN          NaN
 ...                      ...               ...     ...  ...          ...
 9395             1481.840088               NaN  45CLMN  NaN          NaN
 9396             1481.850098               NaN  45CLMN  NaN          NaN
 9397             1481.869873               NaN  45CLMN  NaN          NaN
 9398             1481.879883               NaN  45CLMN  NaN          NaN
 9399             1481.889893               NaN  45CLMN  NaN          NaN

       Start
 0         0
 1         0
 2         0
 3         0
 4         0
 ...     ...
 9395      0
 9396      0
 9397      0
 9398      0
 9399      0

 [9400 rows x 11 columns],
                 Timestamp   Pump State  Starts count  Total Hours  \
 0     2016-04-01 00:00:04  04501   NaN           NaN         1.00
 1     2016-04-01 00:01:24  04501   NaN           NaN          NaN
 2     2016-04-01 00:02:44  04501   NaN           NaN          NaN
 3     2016-04-01 00:04:04  04501   NaN           NaN          NaN
 4     2016-04-01 00:05:24  04501   NaN           NaN          NaN
 ...                   ...    ...   ...           ...          ...
 13564 2016-04-30 23:53:25  04501   NaN           NaN          NaN
 13565 2016-04-30 23:54:45  04501   NaN           NaN         0.11
 13566 2016-04-30 23:56:05  04501   NaN           NaN          NaN
 13567 2016-04-30 23:57:25  04501   NaN           NaN          NaN
 13568 2016-04-30 23:58:45  04501   NaN           NaN          NaN

        Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                 1481.909912               NaN  45CLMN  NaN          NaN
 1                 1481.919922               NaN  45CLMN  NaN          NaN
 2                 1481.929932               NaN  45CLMN  NaN          NaN
 3                 1481.949951               NaN  45CLMN  NaN          NaN
 4                 1481.959961               NaN  45CLMN  NaN          NaN
 ...                       ...               ...     ...  ...          ...
 13564             1813.290527               NaN  45CLMN  NaN          NaN
 13565             1813.300537               NaN  45CLMN  NaN          NaN
 13566             1813.320557               NaN  45CLMN  NaN          NaN
 13567             1813.330566               NaN  45CLMN  NaN          NaN
 13568             1813.340576               NaN  45CLMN  NaN          NaN

        Start
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 13564      0
 13565      0
 13566      0
 13567      0
 13568      0

 [13569 rows x 11 columns],
                 Timestamp   Pump State  Starts count  Total Hours  \
 0     2016-05-01 00:00:05  04501   NaN           NaN          NaN
 1     2016-05-01 00:01:25  04501   NaN           NaN          NaN
 2     2016-05-01 00:02:45  04501   NaN           NaN          NaN
 3     2016-05-01 00:04:05  04501   NaN           NaN          NaN
 4     2016-05-01 00:05:25  04501   NaN           NaN         0.22
 ...                   ...    ...   ...           ...          ...
 11607 2016-05-31 23:17:36  04501  stop           NaN          NaN
 11608 2016-05-31 23:19:06  04501   NaN           NaN          NaN
 11609 2016-05-31 23:19:16  04501  stop           NaN          NaN
 11610 2016-05-31 23:37:36  04501  stop           NaN          NaN
 11611 2016-05-31 23:38:46  04501  stop           NaN          NaN

        Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                 1813.360352               NaN  45CLMN  NaN          NaN
 1                 1813.370361               NaN  45CLMN  NaN          NaN
 2                 1813.380371               NaN  45CLMN  NaN          NaN
 3                 1813.400391               NaN  45CLMN  NaN          NaN
 4                 1813.410400               NaN  45CLMN  NaN          NaN
 ...                       ...               ...     ...  ...          ...
 11607             2079.300781               NaN  45CLMN  2.0          0.0
 11608             2079.300781               NaN  45CLMN  NaN          NaN
 11609                     NaN               NaN  45CLMN  2.0          0.0
 11610                     NaN               NaN  45CLMN  2.0          0.0
 11611                     NaN               NaN  45CLMN  2.0          0.0

        Start
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 11607      0
 11608      0
 11609      0
 11610      0
 11611      0

 [11612 rows x 11 columns],
                 Timestamp   Pump        State  Starts count  Total Hours  \
 0     2016-06-01 00:01:36  04501         stop           NaN          NaN
 1     2016-06-01 00:02:46  04501         stop           NaN          NaN
 2     2016-06-01 00:05:36  04501          NaN           NaN          NaN
 3     2016-06-01 00:06:46  04501          run           NaN          NaN
 4     2016-06-01 00:08:06  04501          NaN           NaN          NaN
 ...                   ...    ...          ...           ...          ...
 10271 2016-06-30 23:34:43  04501          NaN           NaN          NaN
 10272 2016-06-30 23:35:03  04501  unavailable           NaN          NaN
 10273 2016-06-30 23:36:03  04501          NaN           NaN          NaN
 10274 2016-06-30 23:44:03  04501          NaN           NaN          NaN
 10275 2016-06-30 23:56:03  04501         stop           NaN          NaN

        Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                         NaN               NaN  45CLMN  2.0          0.0
 1                         NaN               NaN  45CLMN  2.0          0.0
 2                 2079.300781               NaN  45CLMN  NaN          NaN
 3                 2079.690430               NaN  45CLMN  1.0          1.0
 4                 2079.710449               NaN  45CLMN  NaN          NaN
 ...                       ...               ...     ...  ...          ...
 10271             2329.890625               NaN  45CLMN  NaN          NaN
 10272                     NaN               NaN  45CLMN  7.0          0.0
 10273                     NaN               NaN  45CLMN  NaN          NaN
 10274             2329.910645               NaN  45CLMN  NaN          NaN
 10275                     NaN               NaN  45CLMN  2.0          0.0

        Start
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 10271      0
 10272      0
 10273      0
 10274      0
 10275      0

 [10276 rows x 11 columns],
                Timestamp   Pump        State  Starts count  Total Hours  \
 0    2016-07-01 00:45:33  04501  unavailable           NaN          NaN
 1    2016-07-01 00:49:23  04501         stop           NaN          NaN
 2    2016-07-01 02:44:04  04501          run           NaN          NaN
 3    2016-07-01 02:45:34  04501          NaN           NaN          NaN
 4    2016-07-01 02:46:19  04501          NaN        5288.0          NaN
 ...                  ...    ...          ...           ...          ...
 8549 2016-07-31 13:29:22  04501  unavailable           NaN          NaN
 8550 2016-07-31 14:22:42  04501         stop           NaN          NaN
 8551 2016-07-31 18:05:43  04501          NaN           NaN          NaN
 8552 2016-07-31 18:06:43  04501  unavailable           NaN          NaN
 8553 2016-07-31 22:30:43  04501         stop           NaN          NaN

       Last Maintenance Hours  Last reset Hours Station  STS  State value  \
 0                        NaN               NaN  45CLMN  7.0          0.0
 1                        NaN               NaN  45CLMN  2.0          0.0
 2                2329.940918               NaN  45CLMN  1.0          1.0
 3                2329.950684               NaN  45CLMN  NaN          NaN
 4                        NaN               NaN  45CLMN  NaN          NaN
 ...                      ...               ...     ...  ...          ...
 8549                     NaN               NaN  45CLMN  7.0          0.0
 8550                     NaN               NaN  45CLMN  2.0          0.0
 8551             2567.582031               NaN  45CLMN  NaN          NaN
 8552             2567.582031               NaN  45CLMN  7.0          0.0
 8553                     NaN               NaN  45CLMN  2.0          0.0

       Start
 0         0
 1         0
 2         0
 3         0
 4         0
 ...     ...
 8549      0
 8550      0
 8551      0
 8552      0
 8553      0

 [8554 rows x 11 columns],
                Timestamp   Pump        State  Starts count  Total Hours  \
 0    2016-08-01 01:02:54  04501  unavailable           NaN          NaN
 1    2016-08-01 03:37:25  04501         stop           NaN          NaN
 2    2016-08-01 05:53:36  04501  unavailable           NaN          NaN
 3    2016-08-01 06:49:36  04501         stop           NaN          NaN
 4    2016-08-01 07:20:17  04501  unavailable           NaN          NaN
 ...                  ...    ...          ...           ...          ...
 1765 2016-08-30 23:17:29  04501  unavailable           NaN          NaN
 1766 2016-08-31 01:12:00  04501         stop           NaN          NaN
 1767 2016-08-31 04:26:40  04501  unavailable           NaN          NaN

In [5]:
# Concatenate and transform PBC buffer
PBCDataSet = pd.concat(bufferPBC, axis=0, ignore_index='True')
PBCDataSet = PBCDataSet.sort_values(by=['Timestamp'])
bufferPBCPump = []
for pump in pumpList:
    data = PBCDataSet.loc[PBCDataSet['Pump']==pump]
    data = data.fillna(method='ffill')
    data = data.fillna(method='backfill')
    data['Start'] = data['State value'].diff()
    data.fillna(0, inplace=True)
    bufferPBCPump.append(data)
PBCDataSet = pd.concat(bufferPBCPump, axis=0, ignore_index='True')
PBCDataSet['DayOfWeek'] = PBCDataSet['Timestamp'].dt.dayofweek
PBCDataSet['WeekOfYear'] = PBCDataSet['Timestamp'].dt.weekofyear
PBCDataSet['Month'] = PBCDataSet['Timestamp'].dt.month
PBCDataSet = PBCDataSet.set_index(['Timestamp','Station', 'Pump'])
PBCDataSet.head()

,,,State,Starts count,Total Hours,Last Maintenance Hours,Last reset Hours,STS,State value,Start,DayOfWeek,WeekOfYear,Month
Timestamp,Station,Pump,,,,,,,,,,,
2016-01-01 00:14:51,45CLMN,04501,stop,4563.0,0.11,1153.860107,6716.0,2.0,0.0,0.0,4,53,1
2016-01-01 02:09:21,45CLMN,04501,failure,4563.0,0.11,1153.860107,6716.0,99.0,0.0,0.0,4,53,1
2016-01-01 02:10:51,45CLMN,04501,stop,4563.0,0.11,1153.860107,6716.0,2.0,0.0,0.0,4,53,1
2016-01-01 02:19:41,45CLMN,04501,run,4563.0,0.11,1153.860107,6716.0,1.0,1.0,1.0,4,53,1
2016-01-01 02:20:32,45CLMN,04501,run,4563.0,0.11,1153.860107,6716.0,1.0,1.0,0.0,4,53,1